<div style="margin-top: -70px;">
    <div style="background: linear-gradient(to top, rgba(0,10,0,0.8), #0f9b0f); width: 100%; min-height: 15vh; padding: 40px; padding-top: 40px;">
        <div class="row" style="padding-top: 0px;">
            <div class="col-sm-12">
                <h1 class="africa" style="color:#fafafa">
                    <b style="font-size: 1.5em">Contacter l'équipe</b>
                </h1>
            </div>
        </div>
    </div>

    <div style="width: 100%; margin-top: 0vh; padding: 2vmin 5vmin; padding-left: 7vmin; padding-bottom: 7vmin">


        <div class="row" style="padding-top: 25px;">

            <div class="col-lg-8" style="padding-right: 40px;">
                <p class="lead text-justify">
                    L'équipe Enediart, est à votre écoute. 
                    Laissez-nous un message !

                </p>
                <div>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()">
                        <div>
                            <input formControlName="email" type="email" class="form-control"
                                 placeholder="Email">
                        </div>
                        <div style="padding-top: 10px;">
                            <textarea formControlName="message" class="form-control"
                                 placeholder="Votre message ici"></textarea>
                        </div>
                        <div style="padding-top: 10px;">
                            <button [disabled]="contactForm.invalid" class="btn btn-success" style="margin-right: 20px;" type="submit">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<notifier-container></notifier-container>