<div style="margin-top: -70px;">
    <div class="arriereplan" style="min-height: 30vmin; border-bottom: 0px solid #333; overflow: hidden">
        <div class="hideOnMobile"
            style=" background: linear-gradient(to top, rgba(0,10,0,0.8), #0f9b0f); padding-top: 10vmin; padding-bottom: 20vmin;">
            <div class="contenu hideOnMobile">
                <h1 id="titre_page" class="display-4 africa" style="color: #fff; cursor: pointer!important;">
                    <b>Liste des Oeuvres</b>

                </h1>
                <p class="lead" style="color: #fcfcfc;margin-top: -10px;">
                    Découvrez toutes les oeuvres disponibles sur notre site
                </p>
            </div>
        </div>
    </div>
</div>
<div class="oeuvres">
    <div style="min-height: 100vh; margin-top: -20vmin">
        <div class="contenu">
            <div class="row">
                <ng-container *ngFor="let oeu of oeuvres; index as i">
                    <div (click)="ouvrir(i)" class="col-lg-4 col-6" style="padding: 10px;">
                        <app-display-oeuvre [oeuvre]="oeu"></app-display-oeuvre>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            
            <div class="modal-body" style="padding-top: 0; padding-bottom: 0;">
                <app-view-oeuvre [oeuvre]="oeuvre"></app-view-oeuvre>
            </div>
        </div>
    </div>
</div>