<div id="basdepage" style="background-color: #000; color: #fff; padding-bottom : 10vmin; padding-top : 10vmin; ">
    <div class="paddingFooter">
        <div class="row">
            <div class="col-lg-2 col-6">
                <span style="color: #aaa">
                    <b style="color: #fff">© 2018 ENEDIART</b> <br>
                    Tous droits réservés
                </span>
            </div>
            <div class="col-lg-2 col-6">
                <b>ENEDIART</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li><a routerLink="mentions-legales">Mentions légales</a></li>
                    <li><a routerLink="contacteznous">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6">
                <b>THEMES</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li class="color_muanza">
                        <a href="#!oeuvres">
                            Tous les thèmes
                        </a>
                    </li>
                    <li>
                        <a href="#!oeuvres/theme/0">
                            Paysage
                        </a>
                    </li>
                    <li>Portrait</li>
                    <li>Nature Morte</li>
                    <li>Scène Quotidienne</li>
                </ul>
            </div>

            <div class="col-lg-2 col-6">
                <b>STYLES</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li class="color_muanza">Toutes les styles</li>
                    <li>Abstrait</li>
                    <li>Figuratif</li>
                    <li>Surréaliste</li>
                    <li>Cubiste</li>
                    <li>Expressionniste</li>
                </ul>
            </div>
            <div class="col-lg-2 col-6">
                <b>ARTISTES PAR PAYS</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li class="color_muanza">Tous les artistes</li>
                    <li>Cameroun</li>
                    <li>Zambie</li>
                    <li>Tchad</li>
                </ul>
            </div>
            <div class="col-lg-2 col-6">
                <b>RESEAUX SOCIAUX</b>
                <ul class="list-unstyled" style="color: #aaa">
                    <li>
                        <a href="https://www.facebook.com/Enediart-634656430278489/" target="_blank">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/30645867/" target="_blank">
                            LinkedIn
                        </a>
                    </li>
                    <li>Instagram</li> 
                    <li>Twitter</li>
                </ul>
            </div>

        </div>
    </div>

</div>