<div style="margin-top: -70px;" *ngIf="artiste">
    <div class="arriereplan" [ngStyle]="{'background-image': 'url('+artiste.photo+')'}"
        style="min-height: 30vmin; border-bottom: 0px solid #333; overflow: hidden">
        <div class=""
            style=" background: linear-gradient(to top, rgba(0,10,0,0.8), rgba(15, 155, 15, 0.8)); padding-top: 10vmin; padding-bottom: 20vmin;">
            <div class="contenu ">
                <div class="row" style="margin-bottom: 0px;">
                    <!-- 

                        <div class="col-lg-2 col-4">
                            <img [src]="artiste.photo" class="contour-jaune" style="width: 100%">
                        </div>
                    -->
                    <div class="col-lg-10 col-8">
                        <h1 id="titre_page" class="display-4 africa" style="color: #fff; cursor: pointer!important;">
                            <b>
                                {{artiste.nom}}
                                {{artiste.prenom}}
                            </b>

                        </h1>
                        <p class="lead" style="color: #fcfcfc;margin-top: -10px;">
                            {{artiste.pays}},
                            {{oeuvres.length}} tableaux
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="oeuvres">
    <div style="min-height: 100vh; margin-top: -20vmin">
        <div class="contenu">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12" style="padding: 10px; padding-right: 20px;">
                            <app-display-artiste [artiste]="artiste"></app-display-artiste>
                        </div>
                        <div>
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a facilisis dui, non
                                suscipit magna. Nunc ut blandit diam. Ut fermentum est vel felis egestas, non tempor
                                quam
                                pharetra. Cras consectetur, dolor quis ultrices fringilla, quam leo interdum enim,
                                sagittis
                                luctus odio sapien at nunc.
                            </small>
                        </div>
                    </div>

                </div>
                <div class="col-lg-9">
                    <div style="padding-left: 40px;">
                    <div class="row">
                        <div *ngFor="let oeu of oeuvres" class="col-lg-4 col-6" style="padding: 10px;">
                            <app-display-oeuvre (click)="ouvrir(oeu)" [oeuvre]="oeu"></app-display-oeuvre>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="viewoeuvre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            
            <div class="modal-body" style="padding-top: 0; padding-bottom: 0;">
                <app-view-oeuvre [oeuvre]="oeuvre"></app-view-oeuvre>
            </div>
        </div>
    </div>
</div>