.hauteur_oeuvre {
    height: 40vmin
}
.float_droite {
    float: right;
}

.muanza-image {
    transition: transform 400ms ease-in-out;
    &:hover {
        transform: scale(1.25);
    }
}
@media only screen and (max-width: 500px) {
    
    .hauteur_oeuvre {
        height: 40vmin
    }

    .titre1 {
        font-size: 1.3em;
    }
    .titre2 {
        font-size: 1.0em;
        margin-top: -10px;
    }
    .float_droite {
        float: none;
        display: block;
    }
    
}