.arriereplan {
    background: url('https://firebasestorage.googleapis.com/v0/b/coworking-muanza.appspot.com/o/wallbw2.jpg?alt=media&token=d7d359e6-3917-4cee-8ec2-261d08a3409f'); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}


.contenuOeuvre {
    padding-left: 10vw;
    padding-right: 10vw;
}

.contour-jaune {
    border: 2px solid yellow
}

.marginTop {
    margin-top: -18vmin
}

@media only screen and (max-width: 500px) {
    
    .arriereplan {
        background: #fff !important;
    }

    .contour-jaune {
        border: 0px solid yellow
    }

    .marginTop {
        margin-top: 0vmin
    }

    .contenuOeuvre {
        margin:0;
        padding: 0;
    }
    
}
